[Desktop Entry]
Name=QTStep Classic Industrial
Comment=Plasma theme to match the QTStep QtCurve theme

X-KDE-PluginInfo-Author=Andi Berger
X-KDE-PluginInfo-Email=andi.berger@yandex.com
X-KDE-PluginInfo-Name=QTStepClassicIndustrial
X-KDE-PluginInfo-Version=1.5.1
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=Plasma Theme
X-KDE-PluginInfo-Depends=KDE 5.8.6
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-EnabledByDefault=true

[Wallpaper]
defaultWallpaperTheme=pentagons
defaultFileSuffix=.png
defaultWidth=1920
defaultHeight=1080
