[Desktop Entry]
Name=QTStep Industrial 31p
Comment=A theme inspired by the WindowMaker/GNUStep look

X-KDE-PluginInfo-Author=Andi Berger
X-KDE-PluginInfo-Email=andi.berger@yandex.com
X-KDE-PluginInfo-Name=QTStepIndustrial31p
X-KDE-PluginInfo-Version=1.5.1
X-KDE-PluginInfo-Depends=KDE 5.8.6
X-KDE-PluginInfo-License=GPLv3
